/* space in the file uploader*/
/*label.css-14k6t0v{
    visibility: hidden;
    margin-bottom: -2rem;
}*/

/*hide the 'Drag file' text in the file uploader */
span.css-9ycgxx.e1b2p2ww12{display: none;}

/* Drop down header*/
div.css-xujc5b p{ font-size: 1.2rem; }
div.css-uvn0xz p{ font-size: 1.2rem; } 

/*drop down documents*/
div.st-dg{font-size: 1.05rem;}

/*chat text size*/
textarea.st-ck{font-size: 1.2rem;}

/*postition of Header and subheader*/
div.block-container.css-ysnqb2.ea3mdgi4{
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    padding-left: 30px;
    padding-right: 0px;
}

/*title*/
div.css-1629p8f.e1nzilvr2.css-1629p8f h1{
    font-family: Georgia;
    font-size: 2rem;
    font-weight: 600;
    padding: 25px 0px 10px 0px;
    margin: 0px;
    line-height: 0.5;
}

/* subtitle*/
div.css-1629p8f.e1nzilvr2.css-1629p8f h3{
font-family: Georgia;
font-size: 1.1rem;
font-weight: 600;
padding: 0px 0px 10px 0px;
}

/*move chat to the top*/
/*div.stChatFloatingInputContainer{
    position: absolute;
    top:0;
    left: 0;

}*/
